.browsehappy
{
    margin: .2em 0;
    padding: .2em 0; 
    color: #000;
    background: #ccc;
}

html
{
    min-height: 100%;
}

body
{
    min-height: 100%;
    background: #f6f6f6;
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header
{
    margin-bottom: 1em;
}
header h1,
header h2,
header h3,
header h4,
header h5,
header h6
{
    margin-bottom: 0;
}

strong {
    font-weight: 500;
}

a,
a.btn-link
{
    color: #333;
    font-weight: 500;
}

a:hover,
a:focus,
a.btn-link:hover,
a.btn-link:focus
{
    color: #555;
}


.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .btn-default.dropdown-toggle
{
    background-color: rgba(225, 225, 225, .5);
}

.brand-hidden
{
    opacity: 0;
}

.navbar-brand
{
    -webkit-transition: opacity .5s ease-out;
            transition: opacity .25s ease-out;
}

.navbar a {
    text-decoration: none;
    font-weight: normal;
}

.navbar-transparent,
.navbar-opaque
{
    margin-bottom: 0;

    border-bottom: 1px solid rgba(225, 225, 225, .5);
    background: #f6f6f6;
}
.navbar-transparent .nav,
.navbar-opaque .nav
{
    margin-top: 0;
}
.navbar-transparent li a:hover,
.navbar-transparent li a:focus,
.navbar-opaque li a:hover,
.navbar-opaque li a:focus
{
    background-color: #e7e7e7;
}
.navbar-transparent li.active a,
.navbar-opaque li.active a
{
    background-color: #ededed;
}
.navbar-transparent li.active a:hover,
.navbar-transparent li.active a:focus,
.navbar-opaque li.active a:hover,
.navbar-opaque li.active a:focus
{
    background-color: #e7e7e7;
}
.navbar-transparent .navbar-toggle:hover,
.navbar-transparent .navbar-toggle:focus,
.navbar-opaque .navbar-toggle:hover,
.navbar-opaque .navbar-toggle:focus
{
    background-color: #e7e7e7;
}
.navbar-transparent .navbar-toggle .icon-bar,
.navbar-opaque .navbar-toggle .icon-bar
{
    background-color: #333;
}

.section[id]:before
{
    display: block;

    height: 50px;
    margin: -30px 0 0; 

    content: '';
}

.social
{
    margin: 0 4px;
}

.jumbotron
{
    height: 100vh; 
    padding-top: 48px;
    background: #f6f6f6 url('../images/hero.png') no-repeat bottom center;
    background: url('../images/hero.png') no-repeat bottom center, -moz-linear-gradient(top, #f6f6f6 0%, #e1e1e1 100%);
    /* FF3.6+ */
    background: url('../images/hero.png') no-repeat bottom center, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100%, #006e2e));
    /* Chrome,Safari4+ */
    background: url('../images/hero.png') no-repeat bottom center, -webkit-linear-gradient(top, #f6f6f6 0%, #e1e1e1 100%);
    /* Chrome10+,Safari5.1+ */
    background: url('../images/hero.png') no-repeat bottom center, -o-linear-gradient(top, #f6f6f6 0%, #e1e1e1 100%);
    /* Opera 11.10+ */
    background: url('../images/hero.png') no-repeat bottom center, -ms-linear-gradient(top, #f6f6f6 0%, #e1e1e1 100%);
    /* IE10+ */
    background: url('../images/hero.png') no-repeat bottom center, linear-gradient(to bottom, #f6f6f6 0%, #e1e1e1 100%);
    /* W3C */
    background-size: 720px, cover;
}

#portfolio img
{
    max-height: 150px;
    margin: 10px 0;
}
#portfolio a
{
    text-decoration: none;
    font-weight: normal;
}

#about .wrapper
{
    background: #ededed;
}

#footer
{
    font-size: 80%;

    margin-top: 50px; 
    padding-top: 1em;

    background: #e1e1e1;
}

@media (min-width: 768px)
{
    .navbar-transparent
    {
        background-color: rgba(238, 238, 238, .5);
    }
    .navbar-transparent li a:hover,
    .navbar-transparent li a:focus
    {
        background-color: rgba(225, 225, 225, .5);
    }
    .navbar-transparent li.active a
    {
        background-color: rgba(225, 225, 225, .2);
    }
    .navbar-transparent li.active a:hover,
    .navbar-transparent li.active a:focus
    {
        background-color: rgba(225, 225, 225, .5);
    }
}

@media (min-width: 480px)
{
    .jumbotron
    {
        background-size: contain;
    }
}
