$fa-font-path: "/bower_components/font-awesome/fonts";
$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import '../../bower_components/font-awesome/scss/font-awesome.scss';
@import '../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower


.navbar-static-top {
  background: #163016;
}