$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/font-awesome/fonts/";
// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
@import "../bower_components/font-awesome/scss/font-awesome.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

header {
  h1,h2,h3,h4,h5,h6 {
    margin-bottom: 0;
  }
  margin-bottom: 1em;
}

a, a.btn-link {
  color: #333;
  &:hover, &:focus {
    color: #555;
  }
}
.brand-hidden{
  opacity: 0;
}
.navbar-brand {
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.25s ease-out;
}
.navbar-transparent, .navbar-opaque {
  background-color: rgba(238, 238, 238, .5);
  -webkit-box-shadow: 0px 2px 1px 0px rgba(238, 238, 238, 0.5);
  -moz-box-shadow:    0px 2px 1px 0px rgba(238, 238, 238, 0.5);
  box-shadow:         0px 2px 1px 0px rgba(238, 238, 238, 0.5);
  margin-bottom: 0px;
  .nav {

    margin-top: 0;

    li {
      a {
        &:hover, &:focus {
          background-color: rgba(238, 238, 238, .25)
        }
      }
    }

    @media (min-width: 768px) {
      background: transparent;
    }
  }

  .navbar-toggle {

    &:hover,
    &:focus {
      background-color: rgba(238, 238, 238, .5)
    }
    .icon-bar {
      background-color: #333;
    }
  }
}

.section[id]:before {
  content: "";
  display: block;
  height: 50px;
  margin: -30px 0 0;
}

.navbar-opaque {
  background: #f6f6f6;

}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  background: #f6f6f6;
}

.jumbotron {
  // /* Old browsers */
  background: #f6f6f6 url('../images/hero.png') no-repeat bottom center;
  background: url('../images/hero.png') no-repeat bottom center, -moz-linear-gradient(top,  #f6f6f6 0%, #006e2e 100%); /* FF3.6+ */
  background: url('../images/hero.png') no-repeat bottom center,  -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#006e2e)); /* Chrome,Safari4+ */
  background: url('../images/hero.png') no-repeat bottom center, -webkit-linear-gradient(top,  #f6f6f6 0%,#006e2e 100%); /* Chrome10+,Safari5.1+ */
  background: url('../images/hero.png') no-repeat bottom center, -o-linear-gradient(top,  #f6f6f6 0%,#006e2e 100%); /* Opera 11.10+ */
  background: url('../images/hero.png') no-repeat bottom center, -ms-linear-gradient(top,  #f6f6f6 0%,#006e2e 100%); /* IE10+ */
  background: url('../images/hero.png') no-repeat bottom center, linear-gradient(to bottom,  #f6f6f6 0%,#006e2e 100%); /* W3C */
  background-size: 720px, cover;
  //background: url('../images/backgrounds/old_road.jpg') top center;
  padding-top: 48px;
  height: 100vh;

  @media (min-width: 480px) {
    background-size: contain;
  }

}

#portfolio {
  img {
    max-height: 150px;
    margin: 10px 0;
  }
  a {
    text-decoration: none;
  }
}

#footer {
  font-size: 80%;
  background: #006e2e;
  color: #f6f6f6;
  padding-top: 1em;
  margin-top: 50px;
}